#formGrid{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.form-group{
    margin: 0 auto;
    width: 450px;

}
.formField{
    margin-bottom: 20px;
}
#description{
    height: 100px;
}
#ticket{
    width: 450px;
}
#description{
    margin-bottom: 60px;;
}
#ticketContainer{
    margin-bottom: 10px;
}
#dateTimePickers{
    display: flex;
    align-content: space-around;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1100px) {
    .Form{
        margin-left: -30px;
    
    }
  }
